html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.nav-list {
    list-style-type: none;
    background-color: rgba(255,255,255,0.67);
    display: block;
    position: fixed;
    width: 100%;
    top:0;
    transition: 0.3s;
}

.nav-item {
    display: inline;
    text-decoration: none;
    float:left;
    color:#000000;
    font-size: 17px;
    padding: 15px;
    text-align: center;
}

.nav-item a {
    text-decoration: none;
    text-align: center;
    font: 17px;
    
}

#bgimage {
/*    background-image: url(https://via.placeholder.com/1280x720.jpeg);*/
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url(../assets/bgimage.jpg);
    min-height:100%;
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
}

#user-info {
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
    color: black;
}

#user-name {
    position: relative;
    text-align: center;
    background-color: black;
    font-size: 17px;
    color: white;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 8px;
    display: inline-block;
    transform: skew(-20deg);
    text-transform: none;   
    margin: 0px;
    margin-bottom: 4px;
    opacity: 0.6;
}

#user-img {
    position: relative;
    height: 250px;
    border: 4px solid #ffffff;
    border-radius: 50%;
}

.window-page {
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.window-page h2{
    width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}

.window-page h2 span{
    background:#fff; 
    font-family: "Lato", sans-serif;
    padding:0 10px; 
    font-size: 35px;
}

.window-page p {
    /*margin-left: 5px;
    margin-right: 5px;*/
    width: 80%;
    margin-left: 10%;
    font-family: "Lato", sans-serif;
    justify-content: center;
    text-align: justify;
}

.window-page div {
    position: relative;
    flex:1;
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
}

.image-container {
    position: absolute;
    margin: 5%;
}

.card-view-left {
    position: relative;
    width:50%;
    padding: 3%;
    border-radius: 11px;
    background-color: aliceblue;
    opacity: 0.86;
}

@media only screen and (max-width: 400px) {
    .card-view-left {
        width:95%;
    }
}

.card-view-left hr{
    color: grey;
    background-color: grey;
    margin: 10px;
}

.skill-head {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.skill {
     margin: 5px;
    padding-top: 5px;
    padding-left: 5px;
    align-content: center;
/*    position: relative;*/
/*    margin: 5px;*/
}

.skill a{
/*    position: absolute;*/
    display: inline-block;
/*    width: 20%;*/
    align-content: center;
    vertical-align: text-top;
    font-size: 16px;
    height: 12px;
}

.progress {
/*    position: absolute;*/
    display: inline-block;
    width: 80%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    height: 10px;
    float: right;
}

.progress div {
    background-color: green;
    height: 100%;
    width: 0;
    border-radius: 6px;
/*    transition: width 4s;*/
}

/*
.progress div:focus {
    
}
*/

.skill-2 {
     margin: 5px;
    padding-top: 5px;
    padding-left: 5px;
    align-content: center;
/*    position: relative;*/
/*    margin: 5px;*/
}

.skill-2 a{
/*    position: absolute;*/
    display: inline-block;
/*    width: 20%;*/
    align-content: center;
    vertical-align: super;
    font-size: 16px;
    
}

.skill-2 img{
    display: inline-block;
    height: 25px;
    margin-right: 25px;
}







.project-section {
    margin: 10% 5%;
    background-color: white;
    opacity: 0.86;
    padding: 20px;
    border-radius: 10px;
}

.project-section h3 {
    text-align: left;
    font-size: 3.3em;
    margin: 0;
}

.project-section p{
    font-family: sans-serif;
    text-align: left;
    margin: 0.5em 0;
}

.project-section p a{
    text-decoration: none;
}

.project-section p a:link{
    font-weight: 300;
    color: black;
}

.project-section p a:hover{
    font-weight: bold;
    color: black;
}

.project-section p a:visited{
    font-weight: 300;
    color: black;
}




.window-page div .slide-left {
    position: absolute;
    left: 0;
    height: 100%;
    width: 5%;
}

.window-page div .slide-left:hover{
  background: rgba(0,0,0,0.3);
}

.window-page div .slide-right {
    position: absolute;
    right: 0;
    height: 100%;
    width: 5%;
}

.window-page div .slide-right:hover{
  background: rgba(0,0,0,0.3);
}

.window-page div .arrow {
  cursor: pointer;
  height: 120px;
  left: 47%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform .1s;
  width: 80px;
}



.window-page div .arrow-top,.window-page div .arrow-bottom {
  background-color: #666;
  height: 4px;
  left: -6px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.window-page div .arrow-top:after,.window-page div .arrow-bottom:after {
  background-color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}
.window-page div .arrow-top {
  transform: rotate(45deg);
  transform-origin: bottom right;
}
.window-page div .arrow-top:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}
.window-page div .arrow-bottom {
  transform: rotate(-45deg);
  transform-origin: top right;
}
.arrow-bottom:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}
.arrow:hover .arrow-top:after {
  left: 0;
  transition-delay: 0.15s;
}
.arrow:hover .arrow-bottom:after {
  right: 0;
  transition-delay: 0s;
}
.arrow:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}


/*Left arrow*/

.window-page div .arrow-left {
  cursor: pointer;
  height: 120px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform .1s;
  width: 80px;
}
.window-page div .arrow-top-left,.window-page div .arrow-bottom-left {
  background-color: #666;
  height: 4px;
  right: -6px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.window-page div .arrow-top-left:after,.window-page div .arrow-bottom-left:after {
  background-color: #fff;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.15s;
}
.window-page div .arrow-top-left {
  transform: rotate(45deg);
  transform-origin: top left;
}
.window-page div .arrow-top-left:after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}
.window-page div .arrow-bottom-left {
  transform: rotate(-45deg);
  transform-origin: bottom left;
}
.arrow-bottom-left:after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}
.arrow-left:hover .arrow-top-left:after {
  left: 0;
  transition-delay: 0s;
}
.arrow-left:hover .arrow-bottom-left:after {
  right: 0;
  transition-delay: 0.15s;
}
.arrow-left:active {
  transform: translateX(-50%) translateY(-50%) scale(0.9);
}












.declaration {
    padding: 10px;
    background-color: #ebebeb;
    display: contents;
}

.footer-float-left {
    float:left;
}

.footer-float-right {
    float:right;
    margin-right: 25px;
    margin-top: 15px;
}

.footer-float-right h3 {
    color: #7d7d7d;
    margin-bottom: 10px;
}

.footer-icon {
    display: inline-block;
    height: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

.mail-icon {
    background-image: url(../assets/mail.svg);
}

.footer-links {
    display: inline-block;
    text-decoration: none;
    color: #7d7d7d;
    vertical-align: super;
}

.follow-link {
    display: inline-block;
    margin-left: 8px;
    height: 35px;
    width: 35px;
    background-size: contain;
}

.facebook {
    background-image: url(../assets/facebook.png);
}

.twitter {
    background-image: url(../assets/twitter.png);
}

.instagram {
    background-image: url(../assets/instagram.png);
}

.linkedin {
    background-image: url(../assets/linkedin.png);
}







